
body{

background-color: rgba(77, 74, 74, 0.24);
}
.first{
padding: 10px;
background: white;
}
.second {
      padding: 10px;
      background: white;
}
.val
{
    padding: 10px;
}
.haha{
    padding: 10px;
    background: white;
}
.hoho
{
    padding: 10px;
    background-color: white;
}
.hihi{
    padding: 10px;
    background: white;
}
.mimi{
padding: 40%;}